@import "modules/variables";

@import "modules/map";

@import "modules/grid";
@import "modules/form";

@import "font-awesome";

@import "foundation";

.hidden {
    display: none;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.top-bar-wrapper, .footer {
    background-image: url("/img/bunte_leiste.png");
    background-repeat: repeat-x;
    background-position: top;
}

.top-bar-wrapper {
  padding-top: 5px;
}

$action-claim-height: 200px;
.action-claim {
  background-color: #F5F5F5;
  border-top: 1px solid #EAEEEA;
  height: $action-claim-height;
}

.action-claim > div {
  padding-top: $action-claim-height / 3;
}

.logo-wrapper {
  margin-left: 0;
}

.sysnav-container, .social-media-container-top {
  margin-top: 4em;
}