{% extends "KjrbJugendstadtplanBundle:Layout:base.html.twig" %}

{% import "KjrbJugendstadtplanBundle:Ort:macros.html.twig" as ortMacros %}
{% import "KjrbJugendstadtplanBundle:Traeger:macros.html.twig" as traegerMacros %}

{% block title %}
    <h1>Angebot {{ angebot.titel }}</h1>
{% endblock %}

{% block content %}
    {% if angebot.ort is not empty %}
        <div>
            Ort:
            {{ ortMacros.link(angebot.ort) }}
        </div>
    {% endif %}
    {% if angebot.traeger is not empty %}
        <div>
            Träger:
            {{ traegerMacros.link(angebot.traeger) }}
        </div>
    {% endif %}
{% endblock %}