{% extends "KjrbJugendstadtplanBundle:Layout:base.html.twig" %}

{% block title %}
    <h1>Angebot erstellen</h1>
{% endblock %}

{% block content %}
    {{ form(form) }}
    <a href="{{ path('kjrb_jugendstadtplan_angebot_index') }}" class="btn">abbrechen</a>
{% endblock %}