{% extends "KjrbJugendstadtplanBundle:Layout:base.html.twig" %}

{% import "KjrbJugendstadtplanBundle:Angebot:macros.html.twig" as angebotMacros %}

{% block title %}
    <h1>Angebote</h1>
{% endblock %}

{% block content %}
    {{ angebotMacros.shortList(angebote) }}
{% endblock %}