syntax: glob

.DS_Store
.idea/
node_modules/
web/bundles/
web/verndor/*
app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
app/logs/*
vendor/*
bin/
composer.phar
meta/*
conf/*
logs/*
frontend/.sass-cache/*
.vagrant
npm-debug.log
*.swp
*.orig
web/environment.php
app/SymfonyRequirements.php
app/check.php