{% extends "KjrbJugendstadtplanBundle:Layout:base.html.twig" %}

{% import "KjrbJugendstadtplanBundle:Traeger:macros.html.twig" as traegerMacros %}

{% block title %}
    <h1>Träger</h1>
{% endblock %}

{% block content %}
    {{ traegerMacros.shortList(traeger) }}
{% endblock %}