{% extends "KjrbJugendstadtplanBundle:Layout:base.html.twig" %}

{% import "KjrbJugendstadtplanBundle:Traeger:macros.html.twig" as traegerMacros %}
{% import "KjrbJugendstadtplanBundle:Angebot:macros.html.twig" as angebotMacros %}

{% block title %}
    <h1>Ort {{ ort.titel }}</h1>
{% endblock %}

{% block content %}
    {% if ort.latitude is not empty %}
        <div class="small-map-container">
            <div data-ng-controller="JugendstadtplanController" class="angular-leaflet-map">
                <leaflet markers="markers" center="center"></leaflet>
            </div>
        </div>
    {% endif %}
    {% if ort.angebote is not empty %}
        <div>
            Angebote:
            {{ angebotMacros.shortList(ort.angebote) }}
        </div>
    {% endif %}
    {% if ort.traeger is not empty %}
        <div>
            Träger:
            {{ traegerMacros.shortList(ort.traeger) }}
        </div>
    {% endif %}
{% endblock %}
