{% extends "KjrbJugendstadtplanBundle:Layout:base.html.twig" %}

{% block title %}
    <h1>Ort erstellen</h1>
{% endblock %}

{% block content %}
    {{ form(form) }}
    <a href="{{ path('kjrb_jugendstadtplan_ort_index') }}" class="btn">abbrechen</a>
{% endblock %}