{% extends "KjrbJugendstadtplanBundle:Layout:base.html.twig" %}

{% block content %}
    <h3>Ort erstellen</h3>
    {{ form(form) }}
    <a href="{{ path('kjrb_jugendstadtplan_ort_index') }}" class="btn">abbrechen</a>
{% endblock %}