{% extends "KjrbJugendstadtplanBundle:Layout:base.html.twig" %}

{% import "KjrbJugendstadtplanBundle:Ort:macros.html.twig" as ortMacros %}

{% block content %}
    <h2>Orte</h2>

    {{ ortMacros.shortList(orte) }}

    <a href="{{ path('kjrb_jugendstadtplan_ort_erstellen') }}" class="btn btn-primary">Erstellen</a>
{% endblock %}