{% extends "KjrbJugendstadtplanBundle:Layout:base.html.twig" %}

{% block title %}
    <h1>Jugendstadtplan</h1>
{% endblock %}

{% block content %}
    <div id="map"></div>
    <div id="osm">©<a href="http://www.openstreetmap.org">OpenStreetMap</a>
        und <a href="http://www.openstreetmap.org/copyright">Mitwirkende</a>,
        <a href="http://creativecommons.org/licenses/by-sa/2.0/deed.de">CC-BY-SA</a>
    </div>

    <div>Zu den <a href="{{ path('kjrb_jugendstadtplan_angebot_index') }}">Angeboten</a></div>
    <div>Zu den <a href="{{ path('kjrb_jugendstadtplan_ort_index') }}">Orten</a></div>
    <div>Zu den <a href="{{ path('kjrb_jugendstadtplan_traeger_index') }}">Trägern</a></div>
{% endblock %}

{% block additionalJavascript %}
    <script type="text/javascript">
        //<![CDATA[
        drawmap();
        //]]>
    </script>
{% endblock %}