<div>
    <h3>Bisherige Orte:</h3>
    <ul data-ng-show="orte.length">
        <li data-ng-repeat="ort in orte | orderBy: 'titel'">
            <div data-ng-click="setActiveOrt(ort)">
                <h2>{{ ort.titel }}</h2>
                <small data-ng-bind-html="ort.beschreibung"></small>
            </div>
            <button class="btn btn-danger" data-ng-click="remove(ort, $index)">Löschen</button>
        </li>
    </ul>

    <form data-ng-submit="save(ort)">
        <label for="ort.titel">Titel</label>
        <input id="ort.titel" type="text" data-ng-model="ort.titel" />
        <label for="ort.beschreibung">Titel</label>
        <textarea id="ort.beschreibung" data-ng-model="ort.beschreibung"></textarea>
        <div class="small-map-container">
            <leaflet defaults="defaults" center="center" markers="ort.markers" event-broadcast="events"></leaflet>
        </div>
        <div class="hidden">
            <label for="kjrb_jugendstadtplanbundle_ort_longitude" class="required">Longitude</label>
            <input type="text" id="kjrb_jugendstadtplanbundle_ort_longitude" required="required" data-ng-model="ort.markers[0].lng"/>
        </div>
        <div class="hidden">
            <label for="kjrb_jugendstadtplanbundle_ort_latitude" class="required">Latitude</label>
            <input type="text" id="kjrb_jugendstadtplanbundle_ort_latitude" required="required" data-ng-model="ort.markers[0].lat" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <button data-ng-if="editing" class="btn btn-success" data-ng-click="newOrt()">Neuen Ort anlegen</button>
</div>