<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jugendstadtplan Bonn</title>

    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow"/>

    <link rel="stylesheet" type="text/css" href="/bower_components/leaflet-dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/css/screen.css" />

    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
</head>
<body ng-app="JugendstadtplanApp">
    {% block title %}{% endblock %}
    {% for type, flashes in app.session.flashbag.all %}
        <div class="flash-{{ type }}">
            {% for flashMessage in flashes %}
                {{ flashMessage }}
            {% endfor %}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
    {% javascripts
            '@KjrbJugendstadtplanBundle/Resources/views/Public/js/*'
        output='js/compiled/jugenstadtplan.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block additionalJavascript %}{% endblock %}
</body>
</html>