<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jugendstadtplan Bonn</title>

    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow"/>

    {% stylesheets
            '@KjrbJugendstadtplanBundle/Resources/views/Public/css/*'
            'css/bootstrap.css'
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>
    {% block title %}{% endblock %}
    {% for type, flashes in app.session.flashbag.all %}
        <div class="flash-{{ type }}">
            {% for flashMessage in flashes %}
                {{ flashMessage }}
            {% endfor %}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
    <script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
    {% javascripts
            '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'
            '@KjrbJugendstadtplanBundle/Resources/views/Public/js/*'
            'http://www.openstreetmap.org/openlayers/OpenStreetMap.js'
        output='js/compiled/jugenstadtplan.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block additionalJavascript %}{% endblock %}
</body>
</html>