<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jugendstadtplan Bonn</title>

    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow"/>

    {% stylesheets '@KjrbJugendstadtplanBundle/Resources/views/Public/css/*' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>
    {% block content %}{% endblock %}
    {% javascripts
            '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'
            '@KjrbJugendstadtplanBundle/Resources/views/Public/js/*'

        output='js/compiled/jugenstadtplan.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>