<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jugendstadtplan Bonn</title>

    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow"/>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>