<div>
    <h3>Bisherige Pins:</h3>
    <ul data-ng-show="pins.length">
        <li data-ng-repeat="pin in pins | orderBy: 'titel'">
            <div data-ng-click="setActivePin(pin)">
                <h2>{{ pin.titel }}</h2>
                <small>{{ pin.traeger.titel }}</small>
                <small data-ng-bind-html="pin.beschreibung"></small>
            </div>
            <button class="btn btn-danger" data-ng-click="remove(pin, $index)">Löschen</button>
        </li>
    </ul>

    <form data-ng-submit="save(pin)">
        <label for="pin.titel">Titel</label>
        <input id="pin.titel" type="text" data-ng-model="pin.titel" />
        <label for="pin.traeger">Träger</label>
        <select id="pin.traeger" data-ng-model="pin.traeger" data-ng-options="traeger.id as traeger.titel for traeger in traegers"></select>
        <label for="pin.kategorie">Kategorie</label>
        <select id="pin.kategorie" data-ng-model="pin.kategorie" data-ng-options="kategorie.id as kategorie.name for kategorie in kategorien"></select>
        <div>
            <label for="pin.adresse.strasse">Straße / Hausnummer:</label>
            <input id="pin.adresse.strasse" type="text" data-ng-model="pin.adresse.strasse" />
            <label for="pin.adresse.plz">PLZ:</label>
            <input id="pin.adresse.plz" type="text" data-ng-model="pin.adresse.plz" />
            <label for="pin.adresse.ort">Ort:</label>
            <input id="pin.adresse.ort" type="text" data-ng-model="pin.adresse.ort" />
        </div>
        <label for="pin.barrierefreiheit">Barrierefreiheit</label>
        <select id="pin.barrierefreiheit" data-ng-model="pin.barrierefreiheit" data-ng-options="barrierefreiheit for barrierefreiheit in barrierefreiheitsgrade"></select>
        <label for="pin.kostenart">Kostenart</label>
        <select id="pin.kostenart" data-ng-model="pin.kostenart" data-ng-options="kostenart for kostenart in kostenarten"></select>
        <label for="pin.kostenbemerkung">Bemerkungen zu den Kosten</label>
        <textarea id="pin.kostenbemerkung" data-ng-model="pin.kostenbemerkung"></textarea>
        <label for="pin.anmeldepflichtig">Anmeldepflichtig</label>
        <input id="pin.anmeldepflichtig" type="radio" data-ng-model="pin.anmeldepflichtig" data-ng-value="true">Ja</input>
        <input type="radio" data-ng-model="pin.anmeldepflichtig" data-ng-value="false">Nein</input>
        <label for="pin.anmeldepflichtbemerkung">Bemerkungen zur Anmeldepflicht</label>
        <textarea id="pin.anmeldepflichtbemerkung" data-ng-model="pin.anmeldepflichtbemerkung"></textarea>
        <label for="pin.mindestalter">Mindestalter</label>
        <select id="pin.mindestalter" data-ng-model="pin.mindestalter" data-ng-options="mindestalter for mindestalter in mindestalters"></select>

        <div>
            <p>Bisherige Ansprechpartner:</p>
            <ul>
                <li data-ng-repeat="ansprechpartner in pin.ansprechpartner">
                    <p>{{ ansprechpartner.name }}</p>
                    <small>{{ ansprechpartner.telefonnummer }}</small>
                    <small>{{ ansprechpartner.mobilnummer }}</small>
                    <small>{{ ansprechpartner.email }}</small>
                </li>
            </ul>
            <p>Neuen Ansprechpartner anlegen:</p>
            <label for="pin.ansprechpartner.name">Name*:</label>
            <input id="pin.ansprechpartner.name" type="text" data-ng-model="newAnsprechpartner.name" required />
            <label for="pin.ansprechpartner.telefonnummer">Telefonnummer:</label>
            <input id="pin.ansprechpartner.telefonnummer" type="tel" data-ng-model="newAnsprechpartner.telefonnummer" />
            <label for="pin.ansprechpartner.mobilnummer">Handy:</label>
            <input id="pin.ansprechpartner.mobilnummer" type="tel" data-ng-model="newAnsprechpartner.mobilnummer" />
            <label for="pin.ansprechpartner.email">EMail*:</label>
            <input id="pin.ansprechpartner.email" type="email" data-ng-model="newAnsprechpartner.email" required />
            <label for="pin.ansprechpartner.bemerkung">Bemerkungen:</label>
            <textarea id="pin.ansprechpartner.bemerkung" data-ng-model="newAnsprechpartner.bemerkung"></textarea>
            <button type="button" data-ng-click="addAnsprechpartner()" data-ng-disabled="!isAnsprechpartnerValid(newAnsprechpartner)">Hinzufügen</button>
        </div>


        <div>
            <p>Termine:</p>
            <ul>
                <li data-ng-repeat="termin in pin.termine">
                    <p>{{ termin.beginn | date:'dd.MM.yyyy' }}</p>
                    <p>{{ termin.beginnUhrzeit | date:'HH.mm' }}</p>
                    <p>{{ termin.ende | date:'dd.MM.yyyy' }}</p>
                    <p>{{ termin.endeUhrzeit | date:'HH.mm' }}</p>
                    <ul>
                        <li data-ng-repeat="wiederholung in termin.wiederholungen">
                            <p>{{ wiederholung.wochentag }}</p>
                            <p data-ng-if="wiederholung.wocheDesMonats == 0">Jede Woche</p>
                            <p data-ng-if="wiederholung.wocheDesMonats != 0">Jede {{ wiederholung.wocheDesMonats }}. Woche</p>
                            <p data-ng-if="wiederholung.auchAnFeiertagen">Auch an Feiertagen</p>
                            <p data-ng-if="wiederholung.auchInDenFerien">Auch in den Ferien</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <p>Neuen Termin anlegen:</p>
            <label for="pin.termin.beginn">Beginn*:</label>
            <input id="pin.termin.beginn" type="date" data-ng-model="newTermin.beginn" required />
            <label for="pin.termin.ganztaegig">Ganztägig</label>
            <input id="pin.termin.ganztaegig" type="checkbox" data-ng-model="newTermin.ganztaegig" />
            <div data-ng-show="!newTermin.ganztaegig">
                <label for="pin.termin.beginnUhrzeit">Uhrzeit:</label>
                <input id="pin.termin.beginnUhrzeit" type="time" data-ng-model="newTermin.beginnUhrzeit" />
            </div>
            <label for="pin.termin.ende">Ende:</label>
            <input id="pin.termin.ende" type="date" data-ng-model="newTermin.ende" />
            <div data-ng-show="!newTermin.ganztaegig">
                <label for="pin.termin.endeUhrzeit">Endzeit:</label>
                <input id="pin.termin.endeUhrzeit" type="time" data-ng-model="newTermin.endeUhrzeit" />
            </div>
            <div>
                <p>Dieser Termin wiederholt sich:</p>
                <ul>
                    <li data-ng-repeat="wiederholung in newTermin.wiederholungen">
                        <p>{{ wiederholung.wochentag }}</p>
                        <p data-ng-if="wiederholung.wocheDesMonats == 0">Jede Woche</p>
                        <p data-ng-if="wiederholung.wocheDesMonats != 0">Jede {{ wiederholung.wocheDesMonats }}. Woche</p>
                        <p data-ng-if="wiederholung.auchAnFeiertagen == true">Auch an Feiertagen</p>
                        <p data-ng-if="wiederholung.auchInDenFerien == true">Auch in den Ferien</p>
                    </li>
                </ul>
                <label for="pin.termin.wiederholung.wochentag">Wochentag</label>
                <select id="pin.termin.wiederholung.wochentag" data-ng-model="newWiederholung.wochentag" data-ng-options="wochentag for wochentag in wochentage" required></select>
                <label for="pin.termin.wiederholung.wocheDesMonats">Wiederholung</label>
                <select id="pin.termin.wiederholung.wocheDesMonats" data-ng-model="newWiederholung.wocheDesMonats" data-ng-options="woche.id as woche.label for woche in wocheDesMonats"></select>
                <label for="pin.termin.wiederholung.auchAnFeiertagen">Auch an Feiertagen</label>
                <input id="pin.termin.wiederholung.auchAnFeiertagen" type="radio" data-ng-model="newWiederholung.auchAnFeiertagen" data-ng-value="true">Ja</input>
                <input type="radio" data-ng-model="newWiederholung.auchAnFeiertagen" data-ng-value="false">Nein</input>
                <label for="pin.termin.wiederholung.auchInDenFerien">Auch in den Ferien</label>
                <input id="pin.termin.wiederholung.auchInDenFerien" type="radio" data-ng-model="newWiederholung.auchInDenFerien" data-ng-value="true">Ja</input>
                <input type="radio" data-ng-model="newWiederholung.auchInDenFerien" data-ng-value="false">Nein</input>
                <button type="button" data-ng-click="addWiederholung()" data-ng-disabled="!isWiederholungValid(newWiederholung)">Hinzufügen</button>
            </div>
            <button type="button" data-ng-click="addTermin()" data-ng-disabled="!isTerminValid(newTermin)">Hinzufügen</button>
        </div>

        <text-angular data-ng-model="pin.beschreibung"></text-angular>
        <div class="small-map-container">
            <leaflet defaults="defaults" center="center" markers="pin.markers" event-broadcast="events"></leaflet>
        </div>
        <div class="hidden">
            <label for="kjrb_jugendstadtplanbundle_pin_longitude" class="required">Longitude</label>
            <input type="text" id="kjrb_jugendstadtplanbundle_pin_longitude" data-ng-model="pin.markers[0].lng"/>
        </div>
        <div class="hidden">
            <label for="kjrb_jugendstadtplanbundle_pin_latitude" class="required">Latitude</label>
            <input type="text" id="kjrb_jugendstadtplanbundle_pin_latitude" data-ng-model="pin.markers[0].lat" />
        </div>

        <div>
            <p>Bisherige Links:</p>
            <ul>
                <li data-ng-repeat="link in pin.links">
                    <a href="{{ link.url }}">{{ link.titel }}</a>
                </li>
            </ul>
            <p>Link hinzufügen:</p>
            <label for="pin.link.titel">Titel*:</label>
            <input id="pin.link.titel" type="text" data-ng-model="newLink.titel" />
            <label for="pin.link.url">URL*:</label>
            <input id="pin.link.url" type="url" data-ng-model="newLink.url" />
            <button type="button" data-ng-click="addLink()" data-ng-disabled="!isLinkValid(newLink)">Hinzufügen</button>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <button data-ng-if="editing" class="btn btn-success" data-ng-click="newPin()">Neuen Pin anlegen</button>
</div>