<div>
    <h3>Bisherige Pins:</h3>
    <ul data-ng-show="pins.length">
        <li data-ng-repeat="pin in pins | orderBy: 'titel'">
            <div data-ng-click="setActivePin(pin)">
                <h2>{{ pin.titel }}</h2>
                <small>{{ pin.traeger.titel }}</small>
                <small data-ng-bind-html="pin.beschreibung"></small>
            </div>
            <button class="btn btn-danger" data-ng-click="remove(pin, $index)">Löschen</button>
        </li>
    </ul>

    <form data-ng-submit="save(pin)" novalidate="novalidate">
        <fieldset>
            <legend>Stammdaten</legend>
            <div class="row">
                <div class="large-8 columns">
                    <label for="pin.titel">Titel</label>
                    <input id="pin.titel" type="text" data-ng-model="pin.titel" />
                </div>
            </div>
            <div class="row">
                <div class="large-8 columns">
                    <label for="pin.traeger">Träger</label>
                    <select id="pin.traeger" data-ng-model="pin.traeger" data-ng-options="traeger.id as traeger.titel for traeger in traegers" class="tiny dropdown"></select>
                </div>
            </div>
            <div class="row">
                <div class="large-8 columns">
                    <label for="pin.kategorie">Kategorie</label>
                    <select id="pin.kategorie" data-ng-model="pin.kategorie" data-ng-options="kategorie.id as kategorie.name for kategorie in kategorien" class="tiny dropdown"></select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Adresse</legend>
            <div>
                <label for="pin.adresse.strasse">Straße / Hausnummer:</label>
                <input id="pin.adresse.strasse" type="text" data-ng-model="pin.adresse.strasse" />
                <label for="pin.adresse.plz">PLZ:</label>
                <input id="pin.adresse.plz" type="text" data-ng-model="pin.adresse.plz" />
                <label for="pin.adresse.ort">Ort:</label>
                <input id="pin.adresse.ort" type="text" data-ng-model="pin.adresse.ort" />
            </div>
        </fieldset>
        <fieldset>
            <legend>Details</legend>
            <div class="row">
                <div class="large-8 columns">
                    <label for="pin.barrierefreiheit">Barrierefreiheit</label>
                    <select id="pin.barrierefreiheit" data-ng-model="pin.barrierefreiheit" data-ng-options="barrierefreiheit for barrierefreiheit in barrierefreiheitsgrade" class="tiny dropdown"></select>
                </div>
            </div>
            <div class="row">
                <div class="large-8 columns">
                    <label for="pin.kostenart">Kostenart</label>
                    <select id="pin.kostenart" data-ng-model="pin.kostenart" data-ng-options="kostenart for kostenart in kostenarten" class="tiny dropdown"></select>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label for="pin.kostenbemerkung">Bemerkungen zu den Kosten</label>
                    <textarea id="pin.kostenbemerkung" data-ng-model="pin.kostenbemerkung"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="large-8 columns">
                    <div class="switch small">
                        <span>Anmeldepflichtig</span>
                        <input id="pin.anmeldepflichtig" type="checkbox" data-ng-model="pin.anmeldepflichtig" />
                        <label for="pin.anmeldepflichtig"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label for="pin.anmeldepflichtbemerkung">Bemerkungen zur Anmeldepflicht</label>
                    <textarea id="pin.anmeldepflichtbemerkung" data-ng-model="pin.anmeldepflichtbemerkung"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="large-8 columns">
                    <label for="pin.mindestalter">Mindestalter</label>
                    <select id="pin.mindestalter" data-ng-model="pin.mindestalter" data-ng-options="mindestalter for mindestalter in mindestalters" class="tiny dropdown"></select>
                </div>
            </div>
        </fieldset>

        <ng-include src="'/src/app/ansprechpartner/views/form.tpl.html'" data-ng-init="model = pin"></ng-include>

        <fieldset>
            <legend>Termine</legend>
            <div>
                <p>Bisher</p>
                <ul>
                    <li data-ng-repeat="termin in pin.termine">
                        <p>{{ termin.beginn | date:'dd.MM.yyyy' }}</p>
                        <p>{{ termin.beginn_uhrzeit | date:'HH.mm' }}</p>
                        <p>{{ termin.ende | date:'dd.MM.yyyy' }}</p>
                        <p>{{ termin.ende_uhrzeit | date:'HH.mm' }}</p>
                        <ul>
                            <li data-ng-repeat="wiederholung in termin.wiederholungen">
                                <p>{{ wiederholung.wochentag }}</p>
                                <p data-ng-if="wiederholung.woche_des_monats == 0">Jede Woche</p>
                                <p data-ng-if="wiederholung.woche_des_monats != 0">Jede {{ wiederholung.woche_des_monats }}. Woche</p>
                                <p data-ng-if="wiederholung.auch_an_feiertagen">Auch an Feiertagen</p>
                                <p data-ng-if="wiederholung.auch_in_den_ferien">Auch in den Ferien</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>Neuen Termin anlegen:</p>
                <div class="row">
                    <div class="large-4 columns">
                        <label for="pin.termin.beginn">Beginn*:</label>
                        <input id="pin.termin.beginn" type="date" data-ng-model="newTermin.beginn" required />
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 columns">
                        <div class="switch small">
                            <span>Ganztägig</span>
                            <input id="pin.termin.ganztaegig" type="checkbox" data-ng-model="newTermin.ganztaegig" />
                            <label for="pin.termin.ganztaegig"></label>
                        </div>
                    </div>
                </div>
                <div data-ng-show="!newTermin.ganztaegig" class="row">
                    <div class="large-4 columns">
                        <label for="pin.termin.beginn_uhrzeit">Uhrzeit:</label>
                        <input id="pin.termin.beginn_uhrzeit" type="time" data-ng-model="newTermin.beginn_uhrzeit" />
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <label for="pin.termin.ende">Ende:</label>
                        <input id="pin.termin.ende" type="date" data-ng-model="newTermin.ende" />
                    </div>
                </div>
                <div data-ng-show="!newTermin.ganztaegig" class="row">
                    <div class="large-8 columns">
                        <label for="pin.termin.ende_uhrzeit">Endzeit:</label>
                        <input id="pin.termin.ende_uhrzeit" type="time" data-ng-model="newTermin.ende_uhrzeit" />
                    </div>
                </div>
                <div>
                    <p>Dieser Termin wiederholt sich:</p>
                    <ul>
                        <li data-ng-repeat="wiederholung in newTermin.wiederholungen">
                            <p>{{ wiederholung.wochentag }}</p>
                            <p data-ng-if="wiederholung.woche_des_monats == 0">Jede Woche</p>
                            <p data-ng-if="wiederholung.woche_des_monats != 0">Jede {{ wiederholung.woche_des_monats }}. Woche</p>
                            <p data-ng-if="wiederholung.auch_an_feiertagen == true">Auch an Feiertagen</p>
                            <p data-ng-if="wiederholung.auch_in_den_ferien == true">Auch in den Ferien</p>
                        </li>
                    </ul>
                    <fieldset>
                        <legend>Wiederholung</legend>
                        <div class="row">
                            <div class="large-4 columns">
                                <label for="pin.termin.wiederholung.wochentag">Wochentag</label>
                                <select id="pin.termin.wiederholung.wochentag" data-ng-model="newWiederholung.wochentag" data-ng-options="wochentag for wochentag in wochentage" required class="tiny dropdown"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">
                                <label for="pin.termin.wiederholung.woche_des_monats">Wiederholung</label>
                                <select id="pin.termin.wiederholung.woche_des_monats" data-ng-model="newWiederholung.woche_des_monats" data-ng-options="woche.id as woche.label for woche in woche_des_monats" class="tiny dropdown"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 columns">
                                <div class="switch small">
                                    <span>Auch an Feiertagen</span>
                                    <input id="pin.termin.wiederholung.auch_an_feiertagen" type="checkbox" data-ng-model="newWiederholung.auch_an_feiertagen" />
                                    <label for="pin.termin.wiederholung.auch_an_feiertagen"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-8 columns">
                                <div class="switch small">
                                    <span>Auch in den Ferien</span>
                                    <input id="pin.termin.wiederholung.auch_in_den_ferien" type="checkbox" data-ng-model="newWiederholung.auch_in_den_ferien" />
                                    <label for="pin.termin.wiederholung.auch_in_den_ferien"></label>
                                </div>
                            </div>
                        </div>
                        <button type="button" data-ng-click="addWiederholung()" data-ng-disabled="!isWiederholungValid(newWiederholung)" class="tiny button">Wiederholung hinzufügen</button>
                    </fieldset>
                </div>
                <button type="button" data-ng-click="addTermin()" data-ng-disabled="!isTerminValid(newTermin)" class="small button">Termin hinzufügen</button>
            </div>
        </fieldset>

        <fieldset>
            <legend>Beschreibung</legend>
            <text-angular data-ng-model="pin.beschreibung"></text-angular>
        </fieldset>
        <fieldset>
            <legend>Pin platzieren</legend>
            <div class="small-map-container">
                <leaflet defaults="defaults" center="center" markers="pin.markers" event-broadcast="events"></leaflet>
            </div>
            <div class="hidden">
                <label for="kjrb_jugendstadtplanbundle_pin_longitude" class="required">Longitude</label>
                <input type="text" id="kjrb_jugendstadtplanbundle_pin_longitude" data-ng-model="pin.markers[0].lng"/>
            </div>
            <div class="hidden">
                <label for="kjrb_jugendstadtplanbundle_pin_latitude" class="required">Latitude</label>
                <input type="text" id="kjrb_jugendstadtplanbundle_pin_latitude" data-ng-model="pin.markers[0].lat" />
            </div>
        </fieldset>

        <ng-include src="'/src/app/links/views/form.tpl.html'" data-ng-init="model = pin"></ng-include>

        <ul class="button-group">
            <li>
                <button type="submit" class="button">Pin speichern</button>
            </li>
            <li>
                <button data-ng-if="editing" class="button secondary" data-ng-click="newPin()">Neuen Pin anlegen</button>
            </li>
        </ul>
    </form>
</div>