<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- Crawlable by Spiders.. -->
    <meta name="fragment" content="!" />

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
  </head>
  <body>
    <div class="wrapper">
    <div class="container">
      <div class="masthead">
        <h1>Jugendstadtplan</h1>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav grid-row">
                <li data-ui-route="/startseite" data-ng-class="{active:$uiRoute}" class="nav-large-1">
                  <a href="#/startseite">
                    <i class="icon-home"></i>
                    Startseite
                  </a>
                </li>
                <li data-ui-route="/orte" data-ng-class="{active:$uiRoute}" class="nav-large-2">
                  <a href="#/orte">
                    <i class="icon-info-sign"></i>
                    Orte
                  </a>
                </li>
                <li data-ui-route="/traeger" data-ng-class="{active:$uiRoute}" class="nav-large-3">
                  <a href="#/traeger">
                    <i class="icon-info-sign"></i>
                    Träger
                  </a>
                </li>
                <li data-ui-route="/angebote" data-ng-class="{active:$uiRoute}" class="nav-large-4">
                  <a href="#/angebote">
                    <i class="icon-info-sign"></i>
                    Angebote
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container layout-large-1" ui-view="main"></div>

    <footer class="footer">
    </footer>
        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
    </div>
  </body>
</html>
