$topbar-bg: #F5F5F5;
$topbar-link-bg-color-hover: #B3B3B3;
$topbar-link-bg-hover: $topbar-link-bg-color-hover;
$topbar-dropdown-link-color: #3C3C3C;
$topbar-link-color: #444;
$topbar-link-color-hover: #222;
$topbar-link-color-active: #111;
$topbar-link-color-active-hover: #000;