@import "variables";
@import "normalize";

@import "map";

@import "grid";
@import "form";

@import "scss/font-awesome";

@import "foundation/scss/foundation";

.hidden {
    display: none;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.top-bar, .footer {
    background-image: url("img/bunte_leiste.png");
    background-repeat: repeat-x;
    background-position: top;
}