@import "variables";
@import "normalize";

@import "map";

@import "grid";
@import "form";

@import "scss/font-awesome";

@import "foundation/scss/foundation";

.hidden {
    display: none;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.top-bar-wrapper, .footer {
    background-image: url("img/bunte_leiste.png");
    background-repeat: repeat-x;
    background-position: top;
}

.top-bar-wrapper {
  padding-top: 5px;
}

$action-claim-height: 200px;
.action-claim {
  background-color: #F5F5F5;
  border-top: 1px solid #EAEEEA;
  height: $action-claim-height;
}

.action-claim > div {
  padding-top: $action-claim-height / 3;
}
